body {
    background-color: #FFD43B;

}

.mititulo{
  color:#c14405;
}
.minav{
  color:white;
}

.imagen_item {
	 width: 400px;
   height: 400px;
}
.imagen_item2 {
	 width: 300px;
   height: 300px;
}

.imagen_lista {
	 width: 20%;
   height: 20%;
}

#banner {
  width:100%
}

.desplegable{
  background-color: #FFD43B;
}

.mi_item{
  background-color: #FFF07C;
}

.mi_boton{
  background-color: #FF7A00;
  color: white;
}

/*para hover*/
.contenedor {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF07C;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}
.contenedor:hover .overlay {
  height: 300px;
}
.text {
  white-space: nowrap;
  color: black;
  font-size: 25px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #ea5b33;
    color: white;
}
.fa-youtube {
    background: red;
    color: white;
}


/*estrellas*/
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
